.main {
    width: 100%;
    display: flex;
    padding: 25px 0;
}

.details {
    display: inline-flex;
    flex-grow: 1;
    flex-direction: column;
    padding: 25px 10px;
    text-align: center;
}

.bookCover {
    width: 200px;
    height: 320px;
}

.title {
    font-size: 2em;
    font-weight: bold;
}

.author {
    font-size: 1.1em;
}