:root {
  /* CSS HEX */
  --bittersweet: #fe5f55ff;
  --tomato: rgb(131, 22, 10);
  --barn-red: rgb(122, 13, 1);
  --fawn: #f0b67fff;
  --pearl: #d6d1b1ff;
  --tea-green: #c7efcfff;
  --beige: #eef5dbff;

  --rating-star-rgb: rgb(185, 174, 9);

  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: 0, 0, 0;
  --background-rgb: 214, 219, 220;

  --color-accent: var(--bittersweet);
  --color-on-accent: rgb(var(--foreground-rgb));
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 19, 17, 30;

    --color-accent: var(--barn-red);
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: Ubuntu, Arial, Helvetica;
  color: rgb(var(--foreground-rgb));
  // background: linear-gradient(to bottom,
  //     transparent,
  //     rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  background: rgb(var(--background-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}