.container {
    display: grid;
    grid-template-rows: 0.4fr 4fr;
    grid-template-columns: minmax(200px, 1fr) 4fr;
    grid-template-areas:
        ". search"
        "filters results";
    gap: 15px;
    margin-top: 15px;
    flex-grow: 1;
    padding: 15px 0;
}

.results {
    grid-area: results;
}

.search {
    display: flex;
    align-items: center;
    grid-area: search;
}

.filters {
    grid-area: filters;
    // border: 1px solid var(--color-accent);
    border-radius: 5px;
    padding: 15px;
}

.filterTitle {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 5px;

    &:not(:first-child) {
        padding-top: 20px;
    }
}